@charset "UTF-8";

body {
	background-color: #f5f5f5;
}

.container {
	background-color: white;
	width: 710px;
	min-width: 710px;
}

#img-logo {
	display: block;
	margin: auto;
	width: 200px;
}

h3 {
	color: #503396;
	text-align: center;
}

.nav-link {
	color: black;
}

