@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* movie detail */
#movie-head h1, p{
	color: white;
}

#title {
	font-size: 50px;
	font-weight: bold;
} 

#original-title {
	font-size: 20px;
}

#movie-head div {
	margin-top: 290px;
    font-size: 18px;
}

.raing span {
	color: white;
}

.ticketing {
    position: relative;
    top: 425px;
    left: 288px;
    width: 290px;
}

.review-head a {
	text-decoration: none;
	color: black;
}

#nav-video div span{
	color:black;
	font-size: 20px;
}

#info-lists span, dt, dd, h2, a {
	font-family: 'Nanum Gothic', sans-serif;
}

/* 리뷰 모달 */

#reviewModal h4, h5, span {
	font-family: 'Nanum Gothic', sans-serif;
}

.star-rating {
	border: 0;
	display: flex;
	flex-direction: row-reverse;
	font-size: 2em;
	justify-content: auto;
	text-align: center;
	width: 5em;
	margin-left: 137px;
}

.star-rating input {
	display: none;
}

.star-rating label {
	color: rgb(128, 128, 128);
	cursor: pointer;
}

.star-rating :checked ~ label {
	color: rgb(255, 212, 59);
}

.star-rating :hover ~ label {
	color: rgb(250, 176, 5);
}

/* review */
.title2, #txt, #score-txt, #points-txt {
	color: #503396;
	font-weight: bold;
}

#score-txt {
	font-size: 27px;
}
