@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* common */
h1,
h4,
p,
span,
a {
    font-family: 'Noto Sans KR';
    font-weight: 500px;
}

body {
	/*
 	 min-width: 970px;
 	 */
}

.container{
	min-width: 1250px;
}

/* navbar */
#header {
	border-bottom: 2px solid #000;
	/*width: 1902px;*/
}

#navbar-2 .util-list li a {
	color: black;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

#navbar-top .navbar-nav .nav-link {
	color: black;
    font-size: 13px;
    
}

#navbarNav .navbar-nav .nav-link {
	font-family: Noto Sans KR;
	font-weight: bold;
	color: black;
    font-size: 20px;
    margin-left: 35px;
    margin-right: 35px;
} 

.navbar-light .search-box {
    position: relative;
    width: 380px;
    margin: 0 auto;
}

.navbar-light input {
    position: relative;
    height: 44px;
    padding: 15px 72px 15px 9px;
    border: none;
    border-radius: inherit;
    border-bottom: 2px solid #000;
    font-size: 14px;
}

.navbar-light button {
    position: absolute;
    top: 0;
	right: 10px;
    left: 31;
    width: 37px;
    height: 65px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

#img-logo {
	display: block;
	margin: auto;
	width: 70%;
}

a {
	word-break: keep-all;
}

/* movie list */
.nav-tabs .nav-link {
	font-family: Noto Sans KR;
	
	color: black;
    font-size: 18px;
}

.search-btn {
	position: absolute;
	margin-left: -55px;
	top: 344.5px;
	color: #4f5b66;
}

#movie-lists .poster p, span {
	margin-bottom: 0;
	color: black;
}

#movie-lists .poster p {
	font-size: 20px;
	color: black;
}

#movie-lists .btn-like {
	border-color: #ebebeb;
}

/* movie detail */
#movie-head h1, p{
	color: white;
}

#title {
	font-size: 50px;
	font-weight: bold;
}

#original-title {
	font-size: 20px;
}

#movie-head div {
	margin-top: 290px;
    font-size: 18px;
}

.raing span {
	color: white;
}

.ticketing {
    position: relative;
    top: 425px;
    left: 288px;
    width: 290px;
}

.review-head a {
	text-decoration: none;
	color: black;
}

#nav-video div span{
	color:black;
	font-size: 20px;
}

#info-lists span, dt, dd, h2, a {
	font-family: 'Nanum Gothic', sans-serif;
}

/* 리뷰 모달 */

#reviewModal h4, h5, span {
	font-family: 'Nanum Gothic', sans-serif;
}

.star-rating {
	border: 0;
	display: flex;
	flex-direction: row-reverse;
	font-size: 2em;
	justify-content: auto;
	text-align: center;
	width: 5em;
	margin-left: 137px;
}

.star-rating input {
	display: none;
}

.star-rating label {
	color: rgb(128, 128, 128);
	cursor: pointer;
}

.star-rating :checked ~ label {
	color: rgb(255, 212, 59);
}

.star-rating :hover ~ label {
	color: rgb(250, 176, 5);
}