.tab-content.current {
	display: inherit;
}

.region-tab {
	width: 100%;
	border-radius: 5px;
	color: #fff;
	padding: 20px;
	cursor: pointer;
	padding: 5px 10px;
}

.theater-menu{
	position: relative;
	/*
	background-image: url('resources/images/theater/theater-menu.jpg')
	*/
}

.tab-content {

	position: absolute;
	display: none;
	color: #000;
	background-color: yellow;
	padding: 20px;
	border-radius: 10px;
	width: 100px;
}

.region-tab li{
	display: inline-block;
	position: relative;
}
.info-content{
	position: absolute;
	display: none;
	color: #000;
	padding: 50px;
	border-radius: 10px;
	width: 1100px;
}
.info-content.current {
	display: inherit;
}

.theater-menu li {
	display: inline-block;
	padding: 5px 10px;
}

.list-tab .row{
	background-color: yellow;
	width: 100%;
}


.movie-name{
	overflow: hidden;
    padding: 40px 0 0 0;
    text-align: center;
    color: #fff;
    font-size: 3.0666em;
    font-weight: 400;
    line-height: 1.1;
    text-shadow: 2px 2px 10px rgb(0 0 0 / 70%);
}

.list-tab{
	width:100%;
	background-image: url('/resources/images/theater/theater-menu.jpg') 
}
.inner-wrap {
    width: 1100px;
    margin: 0 auto;
}
.pt40 {
    padding-top: 40px!important;
}
.public-transportation .transportation-section .icon-box .ico-bus {
    width: 67px;
    height: 70px;
    background-image: url('/resources/images/theater/ico-bus.png');
}
.public-transportation .transportation-section .icon-box .ico-metro {
    width: 58px;
    height: 70px;
    background-image: url('/resources/images/theater/ico-metro.png');
}
.public-transportation .transportation-section {
    position: relative;
    padding: 30px 0 0 0;
}
.public-transportation .transportation-section .info {
    padding-left: 150px;
}
.iconset {
    overflow: hidden;
    display: inline-block;
    margin: -1px 0 0 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-position: 0 0;
    background-repeat: no-repeat;
}
.public-transportation .transportation-section .icon-box {
    position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
    text-align: center;
}

.info-tab li{
	display: inline-block;
	position: relative;
	width: 32%;
    height: 41px;
    line-height: 40px;
    padding: 0;
    text-align: center;
	border: 1px solid #503396;
    color: #222;
    font-size: 1.0667em;
    float: left;
    text-decoration: none;
}
.public-transportation {
    padding: 0 0 30px 0;
    border: 1px solid #d8d9db;
    border-radius: 10px;
}
.tab-info.current{
    border-bottom: 0;
}


.info-tab{
	cursor: pointer;
}

.contents-wrap{
	margin-top: 50px;
}

h2.tit.small {
    padding: 0 0 16px 0;
    font-size: 1.4666em;
    color: #503396;
}

h3.tit.small {
    padding: 0 0 10px 0;
    font-size: 1.2em;
    color: #222;
}

.theater-facility {
    overflow: hidden;
    padding: 2px 0 0 0;
    display: flex;
}

.button {
    display: inline-block;
    height: 36px;
    margin: 0;
    padding: 0 15px;
    text-align: center;
    line-height: 34px;
    color: #503396;
    font-weight: 400;
    border-radius: 4px;
    font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
    text-decoration: none;
    border: 1px solid #503396;
    vertical-align: middle;
    background-color: #fff;
    cursor: pointer;
}

.button.purple{
	color: #fff;
    line-height: 36px;
    border: 0;
    background: #503396;
}

.theater-facility p {
    float: left;
    width: 111px;
    margin: 0 30px 0 0;
    padding: 0;
    text-align: center;
    display:inline;
    
}

p {
    display: inline;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.theater-facility p .iconset {
    margin-bottom: 10px;
    
}
.iconset {
    overflow: hidden;
    display: inline-block;
    margin: -1px 0 0 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.ico-facility-theater {
    width: 111px;
    height: 111px;
	background-image: url('/resources/images/theater/ico-facility-theater.png');
}
.ico-facility-sweet {
    width: 111px;
    height: 111px;
	background-image: url('/resources/images/theater/ico-facility-sweet.png');
}
.ico-facility-royal {
    width: 111px;
    height: 111px;
	background-image: url('/resources/images/theater/ico-facility-royal.png');
}
.ico-facility-mx {
    width: 111px;
    height: 111px;
	background-image: url('/resources/images/theater/ico-facility-mx.png');
}
.ico-facility-disabled {
    width: 111px;
    height: 111px;
	background-image: url('/resources/images/theater/ico-facility-disabled.png');
}
.ico-facility-couple {
    width: 111px;
    height: 111px;
	background-image: url('/resources/images/theater/ico-facility-couple.png');
}
.ico-facility-comfort {
    width: 111px;
    height: 111px;
	background-image: url('/resources/images/theater/ico-facility-comfort.png');
}
.ico-facility-boutique {
    width: 111px;
    height: 111px;
	background-image: url('/resources/images/theater/ico-facility-boutique.png');
}
.ico-facility-balcony {
    width: 111px;
    height: 111px;
	background-image: url('/resources/images/theater/ico-facility-balcony.png');
}

