<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.DeletedMapper">
<!--public void deletedTicketForm(TicketingForm form);
	public void deletedTicketSeat(TicketingForm form);
	public void deletedMovieTotalNumber(long MovieNo);
	 -->
	 
<delete id="deletedTicketForm" parameterType="com.example.web.form.TicketNoForm">
	delete from ticket
	where ticket_no = #{ticketNo}
	and customer_no = #{customerNo}
	and show_schedule_no =#{showScheDuleNo}
</delete>
<delete id="deletedTicketSeat" parameterType="com.example.web.form.TicketNoForm">
	delete from ticket_seat
	where ticket_no =#{ticketNo}
	<if test="list != null and list.size != 0" >
	and ticket_seat_no in
	<foreach item="item" collection="list" open="(" separator="," close=")">
	</foreach>
	</if>
</delete>
<!-- 	public void updateMovieTotalNumber(long MovieNo); -->
<update id="updateMovieTotalNumber" parameterType="com.example.vo.Movie">
	update movie   
	set movie_audience_total_number = #{movieAudienceTotalNumber}
	where movie_no = #{no}
</update>
<select id="getMovieNo" parameterType="int" resultType="com.example.vo.Movie">
 select 
 movie_audience_total_number as #{movieAudienceTotalNumber}
 from movie
 where movie_no =#{value}
</select>
</mapper>