<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.MovieRatingMapper">
	<!-- 
	public List<MovieRatingDto> getAllList();
	public MovieRatingDto getAllListByMovieNo(int movieNo);
	 -->
	 
	 <select id="getAllList" resultType="com.example.dto.MovieRatingDto">
	 	select distinct
	 		r.movie_rating_no as ratingNo , 
	 		r.movie_rating_name as ratingName ,
	 		r.movie_rating_image_url as ratingImageURL ,
	 		m.movie_no as movieNo ,
	 		m.movie_name as movieName
	 	from movie m, movie_rating r, show_schedule sc
	 	where m.movie_rating_no = r.movie_rating_no
	 	and sc.movie_no = m.movie_no
	 </select>
	 <select id="getAllListByMovieNo" resultType="com.example.dto.MovieRatingDto" parameterType="int">
	 	select distinct
	 		r.movie_rating_no as ratingNo , 
	 		r.movie_rating_name as ratingName ,
	 		r.movie_rating_image_url as ratingImageURL ,
	 		m.movie_no as movieNo,
	 		m.movie_name as movieName
	 	from movie m, movie_rating r
	 	where m.movie_rating_no = r.movie_rating_no
	 	and m.movie_no = #{value}
	 </select>
</mapper>